@font-face {
	font-family: 'Montserrat SemiBold It';
	src: url('../fonts/Montserrat-SemiBoldItalic.eot');
	src: url('../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
			url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI SemiBold It';
	src: url('../fonts/SegoeUI-SemiboldItalic.eot');
	src: url('../fonts/SegoeUI-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUI-SemiboldItalic.woff') format('woff'),
			url('../fonts/SegoeUI-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat Black';
	src: url('../fonts/Montserrat-Black.eot');
	src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-Black.woff') format('woff'),
			url('../fonts/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('../fonts/Montserrat-Light.eot');
	src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-Light.woff') format('woff'),
			url('../fonts/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat ExtraLight It';
	src: url('../fonts/Montserrat-ExtraLightItalic.eot');
	src: url('../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
			url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'CircularAirPro Light';
	src: url('../fonts/CircularAirPro-Light.eot');
	src: url('../fonts/CircularAirPro-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CircularAirPro-Light.woff') format('woff'),
			url('../fonts/CircularAirPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat ExtraLight';
	src: url('../fonts/Montserrat-ExtraLight.eot');
	src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
			url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Semilight';
	src: url('../fonts/SegoeUI-SemilightItalic.eot');
	src: url('../fonts/SegoeUI-SemilightItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUI-SemilightItalic.woff') format('woff'),
			url('../fonts/SegoeUI-SemilightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat ExtraBold';
	src: url('../fonts/Montserrat-ExtraBold.eot');
	src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
			url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI It';
	src: url('../fonts/SegoeUI-Italic.eot');
	src: url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUI-Italic.woff') format('woff'),
			url('../fonts/SegoeUI-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUI.woff') format('woff'),
			url('../fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Thin';
	src: url('../fonts/Montserrat-Thin.eot');
	src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-Thin.woff') format('woff'),
			url('../fonts/Montserrat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Bold It';
	src: url('../fonts/SegoeUI-BoldItalic.eot');
	src: url('../fonts/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUI-BoldItalic.woff') format('woff'),
			url('../fonts/SegoeUI-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat Light It';
	src: url('../fonts/Montserrat-LightItalic.eot');
	src: url('../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-LightItalic.woff') format('woff'),
			url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat Med It';
	src: url('../fonts/Montserrat-MediumItalic.eot');
	src: url('../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-MediumItalic.woff') format('woff'),
			url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat Black It';
	src: url('../fonts/Montserrat-BlackItalic.eot');
	src: url('../fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-BlackItalic.woff') format('woff'),
			url('../fonts/Montserrat-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI Bold';
	src: url('../fonts/SegoeUI-Bold.eot');
	src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUI-Bold.woff') format('woff'),
			url('../fonts/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Bold It';
	src: url('../fonts/Montserrat-BoldItalic.eot');
	src: url('../fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-BoldItalic.woff') format('woff'),
			url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat Med';
	src: url('../fonts/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-Medium.woff') format('woff'),
			url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat It';
	src: url('../fonts/Montserrat-Italic.eot');
	src: url('../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-Italic.woff') format('woff'),
			url('../fonts/Montserrat-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI Semibold';
	src: url('../fonts/SegoeUI-Semibold.eot');
	src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUI-Semibold.woff') format('woff'),
			url('../fonts/SegoeUI-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Reg';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-Regular.woff') format('woff'),
			url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Semilight';
	src: url('../fonts/SegoeUI-Semilight.eot');
	src: url('../fonts/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUI-Semilight.woff') format('woff'),
			url('../fonts/SegoeUI-Semilight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Light';
	src: url('../fonts/SegoeUI-Light.eot');
	src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUI-Light.woff') format('woff'),
			url('../fonts/SegoeUI-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Semibold';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-SemiBold.woff') format('woff'),
			url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Extrabold It';
	src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
	src: url('../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
			url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI Black It';
	src: url('../fonts/SegoeUIBlack-Italic.eot');
	src: url('../fonts/SegoeUIBlack-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUIBlack-Italic.woff') format('woff'),
			url('../fonts/SegoeUIBlack-Italic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat Thin It';
	src: url('../fonts/Montserrat-ThinItalic.eot');
	src: url('../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-ThinItalic.woff') format('woff'),
			url('../fonts/Montserrat-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat-Bold.woff') format('woff'),
			url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Black';
	src: url('../fonts/SegoeUIBlack.eot');
	src: url('../fonts/SegoeUIBlack.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUIBlack.woff') format('woff'),
			url('../fonts/SegoeUIBlack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Light It';
	src: url('../fonts/SegoeUI-LightItalic.eot');
	src: url('../fonts/SegoeUI-LightItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoeUI-LightItalic.woff') format('woff'),
			url('../fonts/SegoeUI-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Circular Std Bold It';
	src: url('../fonts/CircularStd-BoldItalic.eot');
	src: url('../fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CircularStd-BoldItalic.woff') format('woff'),
			url('../fonts/CircularStd-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Circular Std Black';
	src: url('../fonts/CircularStd-Black.eot');
	src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CircularStd-Black.woff') format('woff'),
			url('../fonts/CircularStd-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std Black It';
	src: url('../fonts/CircularStd-BlackItalic.eot');
	src: url('../fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CircularStd-BlackItalic.woff') format('woff'),
			url('../fonts/CircularStd-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Circular Std Book It';
	src: url('../fonts/CircularStd-BookItalic.eot');
	src: url('../fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CircularStd-BookItalic.woff') format('woff'),
			url('../fonts/CircularStd-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Circular Std Med';
	src: url('../fonts/CircularStd-Medium.eot');
	src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CircularStd-Medium.woff') format('woff'),
			url('../fonts/CircularStd-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std Med It';
	src: url('../fonts/CircularStd-MediumItalic.eot');
	src: url('../fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CircularStd-MediumItalic.woff') format('woff'),
			url('../fonts/CircularStd-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Circular Std Bold';
	src: url('../fonts/CircularStd-Bold.eot');
	src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CircularStd-Bold.woff') format('woff'),
			url('../fonts/CircularStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std Book';
	src: url('../fonts/CircularStd-Book.eot');
	src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CircularStd-Book.woff') format('woff'),
			url('../fonts/CircularStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}