@import 'reset.scss';
@import 'fonts.scss';
@import 'icons.scss';

@mixin btnWithHoverIcon ($color){
  background: $color;
  border-color: $color;
  &:hover{
    border-color: darken($color,10%);
    background: darken($color,10%);
  }
  .side-icon{
    background: darken($color,5%);
  }
}

@mixin inputPlacehoderColor ($color){
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}

@mixin avatarImgStyle($width, $borderColor){
  @if $borderColor {
    border: 1px solid $borderColor;
  }
  width: $width;
  height: $width;
  border-radius: 50%;
  object-fit: cover;
}

// *{outline: 1px solid red;}

.btn{
  cursor: pointer;
  border-radius: 2px;
  padding: 14px 20px;
  font-size: 16px;
  font-family: 'Circular Std';
  font-weight: 400;
  &.btn-grey{
    @include btnWithHoverIcon(#e6e6e6);
    font-family: 'Circular Std Med';
  }
  &.btn-light-grey{
    @include btnWithHoverIcon(#ededed);
    font-family: 'Circular Std Med';
    color: #808080;
    &.btn-bordered{
      border-color: #cfcfcf;
    }
  }
  &.btn-success{
    font-family: 'Circular Std Bold';
    @include btnWithHoverIcon(#32c984);
  }
  &.btn-primary{
    font-family: 'Circular Std Book';
    @include btnWithHoverIcon(#4267b2);
  }
  &.btn-light-primary{
    font-family: 'Circular Std Book';
    @include btnWithHoverIcon(#4080ff);
    color: white;
    &.btn-disabled{
      background: #e6e6e6;
      border-color: #e6e6e6;
      color: #b2b2b2;
      &:hover{
        background: #e6e6e6;
        border-color: #e6e6e6;
      }
    }
    &.btn-bordered{
      border-color: #2a62d2;
    }
  }
  &.btn-info{
    font-family: 'Circular Std Bold';
    @include btnWithHoverIcon(#62a9e0);
  }
  &.btn-transp{
    font-family: 'Circular Std Med';
    @include btnWithHoverIcon(transparent);
    color: #666666;
    i.fa{
      font-size: 20px;
      margin-right: 5px;
    }
    >*{
      vertical-align: middle;
    }
  }
  &.btn-drop-round-grey{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #ebebeb;
    text-align: center;
    padding: 0;
    &.btn-drop-transparent{
      background: transparent;
    }
    &:focus{
      box-shadow: none;
    }
    i.fa{
      color: #808080;
      line-height: 31px;
      font-size: 24px;
    }
  }
  &.btn-bordered{
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 3px;
    font-family: 'Circular Std Book';
    padding: 11px 16px;
    line-height: 1;
  }
}

.custom-check-label{
  >input.custom-check-input{
    display: none;
    &:checked + label:before{
      box-shadow:inset 0 0 0 1px white;
      border-color: #4080ff;
      background: #4080ff;
    }
  }
  >label{
    padding: 0 12px 0 38px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: #1a1a1a;
    margin-bottom: 0;
    &:before{
      position: absolute;
      content: '';
      display: block;
      left: 15px;
      top: 50%;
      margin-top: -8px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #cccccc;
      background: transparent;
    }
  }
}

body{
  background: #f5f5f5;
}

.main-wrapper{
  min-height: 100vh;
  width: 100%;
  &.login-layer{
    background: url(../image/main-bg.jpg) top center no-repeat;
    .navbar-collapse{
      justify-content: flex-end;
    }
  }
  .navbar-collapse{
    justify-content: space-between;
  }
}
.container{
  @media(min-width:1130px){
    width: 1100px;
  }
  .custom-row{
    margin-right: -13px;
    margin-left: -13px;
    display: flex;
    >[class$="-layer"]{
      padding-right: 13px;
      padding-left: 13px;
    }
    .main-content-layer{
      max-width: 62.5%;
      flex: 0 0 62.5%;
    }
    .sidebar-layer{
      max-width: 37.5%;
      flex: 0 0 37.5%;
    }
  }
}

header.main-header{
  background: white;
  position: relative;
  z-index: 1100;
  box-shadow: 0 0 6px rgba(0,0,0,.1);
  // .header-inner{
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 11px 0 8px;
  //   @media(max-width:414px){
  //     flex-direction: column;
  //   }
  //   h1.logo-wrap{
  //     margin: 0;
  //     padding-top: 2px;
  //     a.logo{
  //       display: inline-block;
  //       height: 32px;
  //       img{
  //         vertical-align: top;
  //       }
  //     }
  //   }
  // }
  .header-search-block{
    background: #f0f0f0;
    border-radius: 4px;
    display: flex;

    a.search-btn{
      display: inline-block;
      width: 43px;
      font-size: 20px;
      text-align: center;
      color: #b2b2b2;
      i.fa{
        line-height: 40px;
      }
    }
    input{
      flex-grow: 1;
      border: none;
      padding: 0;
      font-size: 16px;
      background: transparent;
      color: #b2b2b2;
      line-height: 1;
      font-family: 'CircularAirPro Light';
      font-weight: normal;
    }
  }
  nav.navbar{
    background: transparent;
    padding: 14px 0;
    .navbar-toggler-right{
      right: 0;
    }
    .navbar-brand{
      margin-bottom: -4px;
    }
    .navbar-nav{
      li{
        padding: 0 13px;
        align-self: center;
        @media(max-width:991px){
          padding: 10px;
        }
        &:last-child{
          @media(min-width:992px){
            padding-right: 0;
          }
          @media(max-width:991px){
            padding-bottom: 0;
          }
        }
        a{
          font-size: 14px;
          text-transform: capitalize;
          color: #4c4c4c;
          display: inline-block;
          &.btn{
            color: white;
            padding: 9px 24px;
          }
          &.profile-link{
            img{
              @include avatarImgStyle(36px, null);
              vertical-align: top;
            }
          }
        }
      }
    }
  }
  .progress-wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-basis:56.35%;
    max-width: 56.35%;
    @media(max-width:992px){
      width: 100%;
      max-width: 100%;
      flex-basis:inherit;
      padding: 10px 0 5px;
    }
    .progress-point{
      font-family: 'Circular Std Book';
      font-size: 16px;
      color: #666666;
    }
    .progress{
      flex-grow: 1;
      margin-right: 15px;
      margin-left: 15px;
      background-color: #e6e6e6;
      border-radius:5px;
      height: 10px;
      .progress-bar{
        background-color: #4080ff;
        height: 10px;
        border-radius:5px;
        &[aria-valuenow='1']{
          width: 16.6666666%;
        }
        &[aria-valuenow='2']{
          width: 33.3333333%;
        }
        &[aria-valuenow='3']{
          width: 50%;
        }
        &[aria-valuenow='4']{
          width: 66.6666666%;
        }
        &[aria-valuenow='5']{
          width: 83.3333333%;
        }
        &[aria-valuenow='6']{
          width: 100%;
        }
      }
    }
  }
}

// main content
.content-wrap{
  position: relative;
  padding-top: 35px;

  .left-outside-menu-wrap{
    position: absolute;
    .left-outside-menu{
      li{
        a{}
      }
    }
  }
}

// sidebar style

aside.sidebar{

  .post-block{
    // padding: 18px 28px;
  }
}

// post block style

.post-block{
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background: white;
  padding: 18px 30px;
  margin-bottom: 19px;

  .post-top-info-layer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    .post-top-info-wrap{
      display: flex;
      align-items: center;
      .post-top-avatar-wrap{
        padding-right: 14px;
        img{
          // border-radius: 50%;
          @include avatarImgStyle(45px, null);
        }
      }
      .post-top-round-icon-wrap{
        background: #4080ff;
        @include avatarImgStyle(50px, null);
        margin-right: 14px;
        text-align: center;
        line-height: 45px;
        img{
        }
      }
      .post-top-info-txt{
        display: flex;
        flex-direction: column;

        .post-top-name{
          a.post-name-link{
            font-size: 16px;
            color: #4080ff;
            font-family: 'Circular Std Book';
            line-height: 22px;
          }
        }
        .post-info{
          font-size: 14px;
          color: #1a1a1a;
          line-height: 18px;
          b{
            font-family: 'Circular Std Book';
            font-weight: normal;
          }
          i.fa{
            color: #4080ff;
            margin-left: 19px;
            font-size: 18px;
          }
        }
        .post-event-info{
          font-size: 14px;
          color: #1a1a1a;
          line-height: 26px;
          span.event-badge{
            display: inline-block;
            padding: 3px 6px;
            border-radius: 2px;
            background: rgba(0,0,0,.1);
          }
          a.event-place{
            font-family: 'CircularAirPro Light';
            color: #4080ff;
          }
        }
      }
    }
    .post-top-info-action{
      .dropdown{
        position: relative;
        right: -9px;
      }
    }
  }
  .post-image-container{
    ul.post-image-list{
      display: flex;
      margin: -4px -4px 0;
      li{
        padding: 4px;
        img{
          max-width: 100%;
        }
      }
    }
    &.post-follow-container{
      border:1px solid #e6e6e6;
    }
    .post-follow-block{
      padding: 15px 20px 17px;
      display: flex;
      align-items: flex-start;
      .follow-txt-wrap{
        display: flex;
        align-items: center;
        min-width: 0;
        .date-block{
          padding-right: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          span{
            color: #3f3f3f;
            line-height: 1.3;
            &.month{
              font-size: 14px;
              text-transform: uppercase;
              font-family: 'CircularAirPro Light';
            }
            &.count-day{
              font-size: 21px;
              font-family: 'Circular Std Book';
            }
          }
        }
        .follow-txt{
          flex-grow: 1;
          min-width: 0;
          
          p{
            margin-bottom: 0;
            font-size: 14px;
            color: #1a1a1a;
            font-family: 'CircularAirPro Light';
            line-height: 1.7;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &.follow-posted{
              a{
                color: #4080ff;
                
              }
            }
            &.follow-description{}
          }
        }
      }
      .follow-btn-wrap{
        padding-left: 30px;
        .btn{
          padding: 14px 21px;
        }
      }
    }
  }
  .post-footer-info{
    display: flex;
    align-items: center;
    padding: 20px 0 15px;
    .post-reaction{
      line-height: 20px;
      margin-right: 30px;
      &.p-react-with-icon{
        &.p-smile-dis{
          background: url(../image/reaction-icon-smile-dis.png) left center no-repeat;
          padding-left: 39px;
        }
        &.p-smile-only{
          background: url(../image/reaction-icon-smile-only.png) left center no-repeat;
          padding-left: 29px;
        }
      }
      span{
        b{}
      }
    }
    .post-comment-info{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &.p-comm-with-icon{
        padding-left: 22px;
        background: url(../image/comment-icon.png) left center no-repeat;
      }
      ul.foot-avatar-list{
        margin-bottom: 0;
        margin-right: 8px;
        li{
          display: inline-block;
          &:not(:first-child){
            margin-left: -4px;
          }
          img{
            @include avatarImgStyle(20px, #e5e5e5);
          }
        }
      }
      span{
        font-size: 14px;
        color: #1a1a1a;
      }
    }
  }

  .post-comment-layer{
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
    .post-comment-top-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul.comment-filter{
        li{
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          color: #b2b2b2;
          font-family: 'CircularAirPro Light';
          cursor: pointer;
          &:not(:last-child){
            margin-right: 15px;
          }
          &:hover{
            color: #1a1a1a;
          }
          &.active{
            color: #1a1a1a;
            font-family: 'Circular Std Book';
          }
        }
      }
      .comm-count-info{
        font-size: 14px;
        color: #b2b2b2;
        font-family: 'CircularAirPro Light';
      }
    }
    .post-comment-wrapper{
      padding-bottom: 19px;
      .post-comment-row{
        display: flex;
        align-items: flex-start;
        padding-bottom: 15px;
        .post-com-avatar-wrap{
          padding-right: 18px;
          padding-top: 5px;
          img{
            @include avatarImgStyle(45px, #ebebeb);
          }
        }
        .post-comment-text{
          flex-grow: 1;
          .post-com-name-layer{
            a{
              line-height: 1.7;
              &.comment-name{
                font-family: 'Circular Std Book';
                font-size: 16px;
                color: #4080ff;
              }
              &.comment-nickname{
                font-family: 'CircularAirPro Light';
                font-size: 14px;
                color: #999999;
              }
            }
          }
          .comment-txt{
            p{
              font-family: 'Circular Std Book';
              font-size: 16px;
              color: #000000;
              line-height: 1.5;
              margin-bottom: 10px;
            }
          }
          .comment-bottom-info{
            display: flex;
            align-items: center;
            .com-reaction{
              margin-right: 18px;
              display: flex;
              align-items: center;
              img{
                margin-right: 8px;
              }
              span{
                font-size: 12px;
                color: #000000;
                font-family: 'CircularAirPro Light';
              }
            }
            .com-time{
              font-family: 'CircularAirPro Light';
              font-size: 14px;
              color: #999999;
              line-height: 19px;
            }
          }
        }
      }
      a.load-more-link{
        font-family: 'CircularAirPro Light';
        font-size: 14px;
        color: #b2b2b2;
      }
    }
    .post-add-comment-block{
      display: flex;
      align-items: center;
      .avatar-wrap{
        padding-right: 19px;
        img{
          @include avatarImgStyle(45px, null);
        }
      }
      .post-add-com-input{
        background: #f5f5f5;
        border-radius: 3px;
        flex-grow: 1;
        padding: 10px 20px;
        input{
          background: transparent;
          font-size: 16px;
          font-family: 'CircularAirPro Light';
          @include inputPlacehoderColor(#999999);
        }
      }
    }
  }

  &.post-create-block{
    .post-create-input{
      padding: 12px 0;
      input{
        background: transparent;
        border: none;
        font-size: 16px;
        padding: 0;
        width: 100%;
        font-family: 'CircularAirPro Light';
        @include inputPlacehoderColor(#b2b2b2);
        &:focus{
          box-shadow: none;
        }
      }
    }
    .post-create-controls{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 16px;
      ul.create-link-list{
        margin-bottom: 0;
        li{
          cursor: pointer;
          color: #cccccc;
          display: inline-block;
          margin-right: 20px;
          &:hover{
            color: darken(#ccc, 5%);
          }
          i.fa{
            font-size: 20px;
          }
        }
      }
      button.btn{
        font-size: 14px;
        text-transform: uppercase;
        padding: 7px 10px;
        line-height: 1;
      }
    }
  }
  &.post-side-tabs{
    padding: 0;
    ul.nav-tabs{
      li.nav-item{
        flex: 1 1 100%;
        margin-bottom: 0;
        a.nav-link{
          border-width:0 0 1px 0;
          border-bottom-color:transparent;
          font-family: 'CircularAirPro Light';
          font-size: 16px;
          color: #808080;
          padding: 19px 30px;
          &:hover{
            box-shadow: none;
          }
          &.active{
            border-bottom-width:2px;
            margin-bottom: -1px;
            border-bottom-color:#4080ff;
            font-family: 'Circular Std Book';
            color: #1a1a1a;
          }
        }
      }
    }
    .tab-content{
      .tab-pane{
        padding: 10px 5px 25px 28px;
        .side-tab-inner{
          max-height: 350px;
          &.mCustomScrollbar{
            .mCSB_container{
              margin-right: 20px;
            }
            .mCSB_scrollTools{
              right: 0;
            }
          }
          .side-pane-row{
            padding: 9px 0;
            display: flex;
            align-items: center;
            .side-pane-avatar-wrap{
              padding-right: 8px;
              img{
                // border-radius: 50%;
                @include avatarImgStyle(45px, rgba(0,0,0,.1));
              }
            }
            .side-pane-txt{
              flex: 1;
              min-width: 0;
              .side-pane-post-ttl{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 16px;  
                color: #1a1a1a;
                line-height: 1.5;
                a.in-side-link{
                  font-family: 'Circular Std Book';
                  color: #4080ff;
                  &.link-thin{
                    font-family: 'CircularAirPro Light';
                  }
                }
              }
              .side-pane-date{
                font-family: 'CircularAirPro Light';
                font-size: 14px;
                color: #666666;
              }
            }
          }
        }
      }
    }
  }
  
  &.post-side-block{
    padding: 0;
    .post-side-top{
      padding: 17px 28px;
      border-bottom: 1px solid #e5e5e5;
      h3.side-ttl{
        font-size: 16px;
        color: #1a1a1a;
      }
      .side-right-control{
        a.see-more-link{
          font-family: 'Circular Std Book';
          font-size: 14px;
          color: #4080ff;
        }
        a.slide-link{
          color: #666666;
          font-size: 20px;
          margin-left: 15px;
        }
      }
    }
    .post-side-inner{
      padding: 25px 28px;
      
      .side-dest-block-wrap{
        margin-left: -6px;
        margin-right: -6px;
        display: flex;
        flex-wrap: wrap;
        .side-dest-block{
          margin: 6px;
          width: 156px;
          height: 156px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          .side-dest-ttl{
            padding: 5px 12px;
            h4{
              color: white;
              font-size: 18px;
              font-family: 'Circular Std Book';
              margin-bottom: 0;
              line-height: 1.3;
            }
            p{
              font-family: 'CircularAirPro Light';
              color: white;
              font-size: 14px;
              margin-bottom: 0;
              line-height: 1.5;
            }
          }
        }
      }

      .side-place-block{
        &:not(:last-child){
          border-bottom: 1px solid #e6e6e6;
          padding-bottom: 19px;
        }
        &:not(:first-child){
          padding-top: 20px;
        }
        .side-place-top{
          display: flex;
          align-items: center;
          padding-bottom: 10px;
          .side-place-avatar-wrap{
            padding-right: 10px;
            img{
              // border-radius: 50%;
              @include avatarImgStyle(45px, null);
            }
          }
          .side-place-txt{
            flex: 1;
            min-width: 0;
            a.side-place-name{
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              font-size: 16px;
              color: #4080ff;
              font-family: 'Circular Std Book';
              line-height: 1.5;
            }
            .side-place-description{
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              font-size: 14px;
              color: #1a1a1a;
              font-family: 'CircularAirPro Light';
              line-height: 1.5;
              b{
                font-family: 'Circular Std Book';
              }
            }
          }
        }
        ul.side-place-image-list{
          margin-left: -1px;
          margin-right: -2px;
          margin-bottom: 10px;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          li{
            margin: 0 2px 0 1px;
            img{

            }
          }
        }
        .side-place-bottom{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .side-follow-info{
            font-size: 14px;
            color: #4c4c4c;
            font-family: 'CircularAirPro Light';
            b{
              font-family: 'Circular Std Book';
            }
          }
          .btn-bordered{
            font-size: 12px;
          }
        }
      }

    }
  }

  .post-side-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0 22px;
    h3.side-ttl{
      font-family: 'Circular Std Book';
      font-size: 20px;
      color: #000;
      text-transform: capitalize;
      margin-bottom: 0;
      i.fa{
        color: #4080ff;
        font-size: 18px;
        margin-right: 5px;
      }
      span.count{
        font-family: 'CircularAirPro Light';
        font-size: 14px;
        color: #999999;
        margin-left: 5px;
      }
    }
    .side-right-control{
      a.see-more-link{
        font-family: 'Circular Std Book';
        font-size: 14px;
        color: #4080ff;
      }
      a.slide-link{
        color: #666666;
        font-size: 20px;
        margin-left: 15px;
      }
    }
  }

  .post-slide-wrap{
    padding-bottom: 11px;
    ul.post-slider{
      li{
        position: relative;
        img{
          max-width: 100%;
        }
        .post-slider-caption{
          flex: 1;
          min-width: 0;
          padding-top: 10px;
          .post-slide-name{
            color: #4080ff;
            font-size: 16px;
            font-family: 'Circular Std Book';
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.5;
          }
          .post-slide-description{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #1a1a1a;
            font-size: 14px;
            font-family: 'CircularAirPro Light';
            line-height: 1.5;
          }
          &.transparent-caption{
            position: absolute;
            background: transparent;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 10px 10px;
            p.post-slide-name{
              color: white;
              text-transform: capitalize;
              margin-bottom: 0;
              line-height: 2;
            }
            .post-slide-description{
              color: white;
              span.tag{
                text-transform: uppercase;
                display: inline-block;
                border-radius: 2px;
                background: rgba(0,0,0,.5);
                padding: 5px;
                line-height: 1;
                margin-right: 5px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

// dropdown style

.dropdown-menu{
  border: 0;
  box-shadow: 0 3px 12px rgba(0,0,0,.3);
  min-width: 205px;
  .dropdown-item{
    padding: 10px 18px;
    display: flex;
    align-items: center;
    .icon-wrap{
      padding-right: 18px;
      i.fa{
        color: #808080;
        font-size: 20px;
      }
    }
    .drop-txt{
      flex-grow: 1;
      p{
        margin-bottom: 0;
        font-family: 'CircularAirPro Light';
        font-size: 14px;
        color: #808080;
        line-height: 1.5;
        b{
          font-family: 'Circular Std Book';
          color: #1a1a1a;
          font-weight: normal;
        }
      }
    }
  }
  &.dropdown-menu-right{
    right: -12px;
  }
  &.dropdown-arrow{
    margin-top: 10px;
    &:after{
      position: absolute;
      content: '';
      display: block;
      right: 24px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      box-shadow: -3px -3px 4px rgba(0,0,0,.05);
      top: -4px;
      border-top-color: white;
      border-left-color: white;
      transform: rotate(45deg);
    }
  }
}

.aside-footer{
  ul.aside-foot-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    li{
      position: relative;
      padding: 10px;
      &:not(:last-child){
        &:after{
          content: '';
          position: absolute;
          display: block;
          width: 2px;
          height: 2px;
          background: #333333;
          right: 0;
          top: 50%;
        }
      }
      a{
        color: #333333;
        font-size: 13px;
      }
    }
  }
  p.copyright{
    font-size: 13px;
    color: #808080;
    text-align: center;
  }
}


// sign up (modals)

.modal-backdrop.show{
  opacity: .7;
}

.sign-up-style{
  max-width: 472px;
  .modal-content{
    border-radius: 8px;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
    border: 1px solid #e5e5e5;
    padding: 0 57px;
    position: relative;
    @media(max-width:560px){
      padding: 0 15px;
    }
    @media(max-width:375px){
      padding: 0 10px;
    }
    .close{
      position: absolute;
      top: 10px;
      right: 14px;
      color: #ccc;
      font-size: 24px;
      font-weight: normal;
      &:hover{
        opacity: .8;
      }
      &:focus{
        outline:none;
      }
    }
    .modal-body{
      flex-direction: column;
      align-items: center;
      padding: 24px 0 26px;
      @media(max-width:560px){
        padding: 15px 0;
      }
      &.body-create{
        padding: 24px 0 13px;
        @media(max-width:560px){
          padding: 15px 0;
        }
      }
      .top-layer{
        text-align: center;
        padding: 21px 0 26px;
        @media(max-width:560px){
          padding: 15px 0 20px;
        }
        a.logo-wrap{
          display: inline-block;
          margin-bottom: 31px;
          padding-left: 8px;
          @media(max-width:560px){
            margin-bottom: 20px;
          }
        }
        h4.title{
          color: #1a1a1a;
          font-family: 'Segoe UI';
          font-size: 24px;
          font-weight: 500;
        }
        p.sub-ttl{
          font-family: 'Segoe UI';
          color: #999999;
          font-size: 16px;
          margin-bottom: 0;
          &.error-message{
            color: #fc225a;
          }
        }
      }
      form.login-form{
        .form-margin{
          width: 100%;
          height: 11px;
        }
        .flex-custom{
          display: flex;
          justify-content: center;
          .flex-input{
            flex-grow: 1;
            margin-right: 8px;
          }
          .custom-select{
            min-width: 108px;
          }
        }
        .custom-check-label{
          padding: 13px 0 12px;
        }
        .form-check{
        }
        .forget-password-link{
          display: inline-block;
          padding: 8px 0 7px;
          font-size: 14px;
          color: #4080ff;
          font-family: 'CircularAirPro Light';
        }
        p.simple-txt{
          font-size: 14px;
          color: #666666;
          text-align: center;
          font-family: 'Circular Std Book';
          padding: 8px 0 1px;
        }
        .btn{
          width: 100%;
          position: relative;
          >.side-icon{
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 53px;
            left: 0;
            top: 0;
            text-align: center;
            line-height: 50px;
            @media(max-width:560px){
              width: 40px;
            }
          }
        }
      }
    }
    .modal-footer{
      flex-direction: column;
      padding: 24px 0 33px;
      @media(max-width:560px){
        padding: 15px 0;
      }
      p.foot-txt{
        font-family: 'Segoe UI';
        color: #1a1a1a;
        font-size: 18px;
        margin-right: 0;
        margin-bottom: 19px;
      }
      .btn-grey{
        text-transform: capitalize;
        margin-left: 0;
        padding: 14px 16px;
        min-width: 196px;
      }
    }
  }
}

.form-group{
  margin-bottom: 10px;
  .form-control{
    font-size: 16px;
    padding: 15px 18px 14px;
    line-height: 1;
    font-family: 'Segoe UI';
    font-weight: normal;
    @include inputPlacehoderColor (#b2b2b2);
    // &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    //   color: #b2b2b2;
    // }
    // &::-moz-placeholder { /* Firefox 19+ */
    //   color: #b2b2b2;
    // }
    // &:-ms-input-placeholder { /* IE 10+ */
    //   color: #b2b2b2;
    // }
    // &:-moz-placeholder { /* Firefox 18- */
    //   color: #b2b2b2;
    // }
  }
  &.has-danger{
    .form-control{
      border-color: #fc225a;
      box-shadow: 0 0 6px rgba(#fc225a, .14);
    }
  }
  &.bottom-txt-group{
    padding: 20px 0 0;
    text-align: center;
  }
  p.bottom-txt{
    font-family: 'Segoe UI';
    font-size: 12px;
    color: #999999;
    margin-bottom: 0;
    line-height: 1.4;
  }
  p.email-field{
    text-align: center;
    font-family: 'Segoe UI';
    color: #1a1a1a;
    font-size: 16px;
    margin-bottom: 18px;
  }
  ul.link-list{
    padding: 0;
    margin: 0;
    li{
      font-family: 'Segoe UI Semibold';
      font-size: 12px;
      color: #1a1a1a;
      display: inline-block;
      a{
        font-family: 'Segoe UI Semibold';
        font-size: 12px;
        color: #4890ff;
      }
    }
  }
  .custom-select{
    font-size: 16px;
    padding: 15px 18px 14px;
    line-height: 1;
    font-family: 'Segoe UI';
    font-weight: normal;
    height: auto;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #b2b2b2;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #b2b2b2;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #b2b2b2;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #b2b2b2;
    }
  }
  .btn-transp{
    padding: 11px 0 0;
    margin-bottom: -7px;
  }
}

.sign-up-step{
  max-width: 868px;
  margin: 105px auto 30px;
  .modal-content{
    border-radius: 8px;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
    border: 1px solid #e5e5e5;
    padding: 0;
    position: relative;
    
    .modal-body{
      padding: 22px 28px 0;
      display: flex;
      flex-direction: column;
    }
    .title-layer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3.step-ttl{
        font-family: 'Circular Std Book';
        font-size: 28px;
        color: #1a1a1a;
        font-weight: normal;
        span{
          display: inline-block;
          position: relative;
          &:after{
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #1a1a1a;
            left: 0;
            bottom: -3px;
          }
        }
      }
      .step-info{
        font-family: 'Circular Std Book';
        font-size: 16px;
        color: #4c4c4c;
        padding-right: 6px;
        white-space: nowrap;
        span{
          color: #b2b2b2;
        }
      }
    }
    .search-block-wrap{
      padding: 11px 0 34px;
      .search-block{
        padding: 13px 0 16px;
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        display: flex;
        align-items: center;
        a.search-btn{
          display: inline-block;
          width: 61px;
          text-align: center;
          padding-left: 4px;
          i.fa{
            font-size: 26px;
            color: #cccccc;
          }
        }
        input{
          flex-grow: 1;
          border:none;
          padding: 0;
          font-size: 16px;
          line-height: 1;
          font-family: 'Segoe UI';
          font-weight: normal;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #b2b2b2;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #b2b2b2;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #b2b2b2;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #b2b2b2;
          }
        }
      }
    }
    .check-block-wrap{
      position: relative;
      margin-right: -10px;
      margin-left: -10px;
      max-height: 422px;
      .mCSB_container{
        display: flex;
        flex-wrap: wrap;
      }
      .check-block{
        position: relative;
        width: 180px;
        height: 180px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        border-radius:3px;
        cursor: pointer;
        margin: 10px;
        &:before,
        &:after{
          position: absolute;
          transform: scale(0);
        }
        &:after{
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius:3px;
          background: rgba(26,26,26,.8);
          z-index: 200;
          box-shadow: 0 0 0 0 #4080ff;
          transition: transform .2s ease-in-out, box-shadow .2s ease-in-out .2s;
        }
        &:before{
          right: 6px;
          bottom: 6px;
          content: "\e900";
          font-family: 'travooo-icons' !important;
          line-height: 1;
          color: white;
          font-size: 36px;
          z-index: 310;
          transition: transform .2s ease-in-out;
        }
        &:hover{
          &:after{
            transform: scale(1);
          }
        }
        &.checked-block{
          &:after{
            transform: scale(1);
            box-shadow: 0 0 0 4px #4080ff;
          }
          &:before{
            transition: transform .2s ease-in-out .2s;
            transform: scale(1);
          }
        }
        .check-ttl{
          position: relative;
          z-index: 300;
          padding: 10px 9px;
          h4{
            color: white;
            font-family: 'Circular Std Book';
            font-size: 18px;
            margin-bottom: 0;
            line-height: 1.2;
          }
          p{
            font-family: 'CircularAirPro Light';
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 0;
            color: white;
          }
        }
        .check-map{
          position: absolute;
          z-index: 300;
          bottom: 10px;
          left: 10px;
        }
      }
    }
  }
  .modal-footer{
    padding: 20px 30px 14px;
    display: flex;
    flex-direction: column;
    .btn{
      width: 100%;
      font-family: 'Circular Std Book';
      font-size: 22px;
      color: #999999;
      margin-bottom: 10px;
      padding: 21px 0 20px;
      font-weight: 400;
    }
    p.sub-info{
      margin-bottom: 0;
      padding: 7px 0 4px;
      font-family: 'CircularAirPro Light';
      font-size: 16px;
      color: #999999;
    }
  }
}

.mCustomScrollbar{
  .mCSB_container{
    margin-right: 16px;
  }
  .mCSB_scrollTools{
    width: 6px;
    right: 10px;
    .mCSB_draggerContainer{
      .mCSB_dragger{
        .mCSB_dragger_bar{
          margin: 0;
          width: 6px;
          background-color: #999999;
        }
      }
      .mCSB_draggerRail{
        margin: 0;
        width: 6px;
        background-color: #e6e6e6;
      }
    }
  }
}